Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
terraform/ec2instance/.terraform
terraform/ec2instance/.terraform.lock.hcl
terraform/ec2instance/terraform.tfstate
terraform/ec2instance/terraform.tfstate.backup
terraform/s3bucket/.terraform
terraform/s3bucket/.terraform.lock.hcl
terraform/s3bucket/terraform.tfstate.backup
terraform/s3bucket/terraform.tfstate